---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my papers on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h1 class="page__title">Publications</h1>

<ul class="publications-list">
    <li>Zheng, Kaitong, Ya-Hui Jia, Kejiang Ye, and Wei-Neng Chen. "Strategic Evolutionary Reinforcement Learning With Operator Selection and Experience Filter." IEEE Transactions on Neural Networks and Learning Systems (2025).</li>
</ul>
